---
title: Cate Hernandez | Full stack developer
layout: default
---

<section id="intro">
  <h2 class="heading1">Hi, my name is Cate</h2>

  <p class="about-me__text">
    I'm a full-stack developer who has worked in Node.js and React. I have also
    taken extensive coursework in Java and C. Check out some my projects below!
  </p>

  <div class="contact" role="group">{% include social-media-links.html %}</div>
</section>

<section class="index-page__section" id="projects">
  <h2 class="index-page__section__header">Projects</h2>
  <div class="index-page__section__content">
  {% for project in site.data.projects %}
    {% include tile.html title=project.name subtitle=project.role links=project.links description=project.description %}
  {% endfor %}
  </div>
</section>

{% include footer.html %}
