#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  @media (min-width: $medium) {
    max-width: 680px;
    /** Fill total screen height minus the height of the header */
    height: calc(100vh - 94px);
  }
}
