.index-page__section {
    margin: 3.5em 0;
    width: 100%;

    @media (min-width: $large) {
        margin: 4.5em 0;
        display: grid;
        gap: 1.5em;
        grid-template-columns: repeat(8, 6em);
    }

    @media (min-width: $x-large) {
        grid-template-columns: repeat(12, 4.5em);
    }
}

.index-page__section__header {
    margin-bottom: 1em;

    @media (min-width: $medium) {
        grid-column: 1/span 3;
    }

    @media (min-width: $x-large) {
        grid-column: 1/span 4;
    }
}

.index-page__section__content {
    @media (min-width: $medium) {
        grid-column: 4/-1;
    }

    @media (min-width: $x-large) {
        grid-column: 6/-1;
    }
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  @media (min-width: $medium) {
    max-width: 680px;
    /** Fill total screen height minus the height of the header */
    height: calc(100vh - 94px);
  }
}
