.social-media-links {
  list-style-type: none;
  display: flex;
  padding: 0;
  width: min-content;
}

.social-media-links__item {
  margin-right: 0.75rem;
  transition: 0.25s ease;

  &:hover {
    transform: scale(1.1);
  }

  & svg {
    /** Creates optical illusion of better vertical centering */
    padding-bottom: 2px
  }
}