/** Ensure side margin values correspond to the margins set on `body` **/
.site-header {
  align-items: center;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /** Duplicate padding set on body for fixed position element */
  padding: 2.5em 1.25em;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 500ms ease;
  z-index: 200;

  @media (min-width: $medium) {
    /** Let spacing come from padding on the body */
    padding: 0;
    position: static;
  }
}

.site-header__homepage-link,
.site-header__homepage-link:visited {
  color: inherit;
  text-decoration: none;
}

/** Nav only displays in header on medium and larger screens */
.site-header__nav-wrapper {
  display: none;

  @media (min-width: $medium) {
    display: block;
  }
}
