/** Mobile-first styles */
body {
  @include font-face($inter, 400, normal);
  color: $near-black;
  font-size: 16px;
  line-height: 1.4;
}

h1,
h2,
h3, 
h4,
h5 {
  line-height: 1.2;
}

.heading1 {
  @include font-face($inter, 400, normal);
  font-size: 72px;
  margin: 0;
}

.heading3 {
  font-size: 24px;
}

.site-nav {
  font-size: 24px;
}

/** Medium and larger screen styles */
@media ( min-width: $medium ) {
  .heading3 {
    font-size: 28px;
  }
  
  .site-nav {
    font-size: 18px;
  }
}